<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<filter>
    	<filter-name>Set Character Encoding</filter-name>
    	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    	<init-param>
        	<param-name>encoding</param-name>
        	<param-value>UTF-8</param-value>
    	</init-param>
    	<init-param>
        	<param-name>ignore</param-name>
        	<param-value>false</param-value>
    	</init-param>
	</filter>
	
	<filter-mapping>
    	<filter-name>Set Character Encoding</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>RestrictionFilter</filter-name>
		<filter-class>com.sdzee.filters.RestrictionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictionFilter</filter-name>
		<url-pattern>/utilisateur</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Redirection</filter-name>
		<filter-class>com.sdzee.filters.Redirection</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Redirection</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>RestrictionAdminFilter</filter-name>
		<filter-class>com.sdzee.filters.RestrictionAdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictionAdminFilter</filter-name>
		<url-pattern>/admin</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>JDBC_DRIVER</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>JDBC_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/Cours_JEE_exemple1?serverTimezone=UTC</param-value>
	</context-param>
	
	<context-param>
		<param-name>JDBC_LOGIN</param-name>
		<param-value>Cours_JEE_JDBC1</param-value>
	</context-param>
	
	<context-param>
		<param-name>JDBC_PASSWORD</param-name>
		<param-value>password</param-value>
	</context-param>

	
</web-app>